<a href="/">Home</a>

<p>You searched for: <%= @keyword %></p>

<% @podcasts.each do |podcast| %>
	<ul>
		<li><a href="/podcasts/<%= podcast.id %>"><%= podcast.title %></a></li>
		<img width='150' src="<%= podcast.image_url %>">
	</ul>
<% end %>