 <html>
<head>
<title> New User Registration </title>
	<body>

		<form action='/newuser' method="POST">
			<p>
				<label for="first_name">First Name</label>
				<input type="text" name="user[first_name]" id="first_name"/>
			</p>

			<p>
				<label for="last_name">Last Name</label>
				<input type="text" name="user[last_name]" id="last_name"/>
			</p>

			<p>
				<label for="email_address">Email Address</label>
				<input type="text" name="user[email_address]" id="email_address"/>
			</p>

			<p>
				<label for="username">Username</label>
				<input type="text" name="user[username]" id="username"/>
			</p>

			<p>
				<label for="password">Password</label>
				<input type="text" name="user[password]" id="password"/>
			</p>

			<p>
				<input type="submit"></input>
			</p>

		</form>
	</body>
</head>

 </html>
