<h1>Edit <%= @post.title %></h1>

<form action="/posts/<%= @post.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <p>
    <label for="post_title">Title</label></br>

    <input type="text" name="post[title]" value="<%= @post.title %>" id="post_title">
  </p>

  <p>
    <label for="post_content">Content</label></br>

    <textarea name="post[content]" id="post_content"><%= @post.content %></textarea>
  </p>

  <p>
    <label>Author</label></br>

    
  </p>
  <p>
    <input type="submit" id="submit">
  </p>
</form> 