<!DOCTYPE html>
<html>
<body>

<h3>Log In</h3>

<form action='/login' method="post">
	<p>
	<label for="username">Username</label>
	  <input type="text" name="username" id="username"/>
	</p>
	<p>
	<label for="password">Password</label>
	  <input type="text" name="password" id="password"/>
	</p>
	<p>
		<input type="submit"></input>
	</p>
</form>

<form action='/results' method="get">
	<p>
	<label>Search by keyword:</label>
	  <input type="text" name="searchkeyword"/>
	</p>

	<p>
		<input type="submit"></input>
	</p>

</form>

<p>Or, find podcasts by common categories:</p>

<% @topics.each do |topic| %>
	<a href="/topics/<%= topic.name %>"><%= topic.name %></a>
<% end %>

</body>
</html>